@import "src/colors";

.btn {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 17px 32px;
  max-width: 300px;
  background-color: $green;
  color: #ABFFCE;
  border: none;
  border-radius: 0 4px 4px 0;
  @media (max-width: 600px) {
    padding: 10px 20px;
  }
  @media (max-width: 400px) {
    padding: 10px 10px;
  }
  &.transparent {
    background-color: transparent;
    border: 1px solid #ABFFCE;
    border-radius: 4px;
  }
  .text {
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    margin-right: 10px;
    @media (max-width: 600px) {
      font-size: 18px;
    }
  }
}