.inputForm {
  display: flex;
  max-width: 1127px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .inputContainer {
    position: relative;
    max-width: 976px;
    width: 100%;
    .input {
      padding: 16px 70px 16px 24px ;
      width: 100%;
      font-size: 20px;
      line-height: 25px;
      font-weight: 400;
      background: rgba(255, 255, 255, 0.1);
      border-width: 1px 0 1px 1px;
      border-color: #FFFFFF;
      border-radius: 4px 0 0 4px;
      transition: background-color .3s ease-in-out;
      &::placeholder {
        color: #6F6F6F;
      }
      &:hover, &:focus-within, &.activeInput {
        background-color: #FFFFFF;
      }
    }
    .crossIcon {
      position: absolute;
      right: 26px;
      top: calc(50% - 12px);
      margin: auto 0;
    }
  }
  .searchIcon {
    width: 16px;
    height: 16px;
    path {
      fill: #ABFFCE;
    }
  }
}