@import "src/colors";

.widget {
  display: inline-block;
  padding: 4px 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $mainContent;
  background-color: #DE8B0F;
  border-radius: 4px;
  @media (max-width: 440px) {
    font-size: 14px;
  }
  &.green {
    background-color: $green;
  }
  .rate {
    padding-left: 10px;
    font-weight: 700;
  }
}