.sliderContainer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  .swiper {
    padding-left: 56px;
    padding-right: 20px;
    @media (max-width: 1260px) {
      padding-left: 20px;
    }
  }
  .swiperSlide {
    width: 368px;
    @media (max-width: 440px) {
      width: 260px;
    }
  }
}